EXPO_PUBLIC_PICKFORME_API_URL=http://192.168.178.158:3000
EXPO_PUBLIC_PICKFORME_DEV_MODE=true
EXPO_PUBLIC_PICKFORME_DEV_EMAIL=mario.scordo@t-online.de
EXPO_PUBLIC_SUPABASE_URL=https://example.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=placeholder
